<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
         verbose="true"
         debug="false">
    <testsuites>
        <testsuite name="Unit">
            <file>./tests/unit/AutoLoader/Psr0Test.php</file>
            <file>./tests/unit/AutoLoader/Psr4Test.php</file>

            <file>./tests/unit/Exception/HandlerTest.php</file>
            <file>./tests/unit/Exception/ExceptionTraitTest.php</file>
            <file>./tests/unit/Exception/ExceptionTest.php</file>
            <file>./tests/unit/Exception/InvalidArgumentExceptionTest.php</file>
            <file>./tests/unit/Exception/LogicExceptionTest.php</file>
            <file>./tests/unit/Exception/UnexpectedValueExceptionTest.php</file>
            <file>./tests/unit/Exception/OutOfBoundsExceptionTest.php</file>
            <file>./tests/unit/Exception/RuntimeExceptionTest.php</file>

            <file>./tests/unit/Validation/InvalidArgumentExceptionTest.php</file>
            <file>./tests/unit/Validation/LogicExceptionTest.php</file>
            <file>./tests/unit/Validation/OutOfBoundsExceptionTest.php</file>
            <file>./tests/unit/Validation/UnexpectedValueExceptionTest.php</file>
            <file>./tests/unit/Validation/ReplacerTraitTest.php</file>
            <file>./tests/unit/Validation/ReplacerTest.php</file>
            <file>./tests/unit/Validation/RuleMessageTraitTest.php</file>
            <file>./tests/unit/Validation/RuleReplacerTraitTest.php</file>
            <file>./tests/unit/Validation/RuleTraitTest.php</file>
            <file>./tests/unit/Validation/Rules/CallerTest.php</file>
            <file>./tests/unit/Validation/RuleGroupTraitTest.php</file>
            <file>./tests/unit/Validation/Rules/GroupTest.php</file>
            <file>./tests/unit/Validation/Rules/WrapperTest.php</file>

            <file>./tests/unit/Configuration/InvalidArgumentExceptionTest.php</file>
            <file>./tests/unit/Configuration/LogicExceptionTest.php</file>
            <file>./tests/unit/Configuration/OutOfBoundsExceptionTest.php</file>
            <file>./tests/unit/Configuration/RuntimeExceptionTest.php</file>
            <file>./tests/unit/Configuration/SetsTraitTest.php</file>
            <file>./tests/unit/Configuration/Sets/ArraysTest.php</file>
            <file>./tests/unit/Configuration/Sets/JsonFileTest.php</file>
            <file>./tests/unit/Configuration/Sets/SerializedFileTest.php</file>
            
            <file>./tests/unit/Input/InvalidArgumentExceptionTest.php</file>
            <file>./tests/unit/Input/OutOfBoundsExceptionTest.php</file>
            <file>./tests/unit/Input/UnexpectedValueExceptionTest.php</file>
            <file>./tests/unit/Input/AccessorkeyTraitTest.php</file>
            <file>./tests/unit/Input/Accessor/PostTest.php</file>
            <file>./tests/unit/Input/Accessor/GetTest.php</file>
            <file>./tests/unit/Input/Accessor/RequestTest.php</file>
            <file>./tests/unit/Input/Accessor/ServerTest.php</file>
            <file>./tests/unit/Input/Accessor/EnvTest.php</file>
            <file>./tests/unit/Input/Accessor/CookieTest.php</file>
            <file>./tests/unit/Input/Accessor/FilesTest.php</file>
            <file>./tests/unit/Input/Accessor/ArgvTest.php</file>
            <file>./tests/unit/Input/Accessor/SessionTest.php</file>
            <file>./tests/unit/Input/Required/BooleanTest.php</file>
            <file>./tests/unit/Input/Required/CallerTest.php</file>

      </testsuite>
    </testsuites>
</phpunit>